<%- include("header") -%>

<h1>Compose</h1>

<form class="item" action="/compose" method="post">

        <h3>Title</h3>
        <input class="container-fluid" type="text" name="newTitle" placeholder="Enter title">
    
        <div class="post-width">
            <h3>Post</h3>
            <input class="container-fluid" type="text" name="newEntry" placeholder="Enter post content">    
            <!-- <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>-->
        </div>

        <div>
            <button class="button" type="submit" name="publish" value=>Publish</button>
        </div>
</form>


<%- include("footer") -%>

